@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
    background-color: #000;
    font: 16px/28px 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
    transition: .4s;
}
ul li {
    list-style: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
button {
    display: block;
    border: none;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
    transition: .4s;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.title-section {
    font-size: 52px;
    line-height: 64px;
    margin-bottom: 40px;
    letter-spacing: 0.6px;
    text-align: center;
}
.btn-primary {
    padding: 12px 24px;
    background-color: #EE8313;
    font-weight: 600;
}
.btn-primary:hover{
    background-color: #ee5b06;
}
.btn-secondare {
    padding: 12px 24px;
    font-weight: 600;
    color: #ee5b06;
    border: 1px solid;
    line-height: 26px;
}
.btn-secondare:hover {
    color: #FFF;
    border: 1px solid #FFF;
}
/* header */
#header-section {
    padding: 40px 0 107px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.header-logo__img {
    width: 48px;
    height: 48px;
}
.nav-main{
    margin-left: auto;
}
.nav-main__list {
    display: flex;
    gap: 48px;
    margin-right: 72px;
}
.nav-main__link:hover {
    color: #EE8313;
}
/* Banner */
#banner-section {
    padding-bottom: 60px;
    position: relative;
}
.banner {
    max-width: 475px;
}    
.banner__header {
     font-size: 52px;
     line-height: 64px;
     letter-spacing: 0.6px;
}
.banner__text {
    margin: 32px 0 48px;
    font-size: 17px;
    color: rgb(255, 255, 255 / 80%);
}
.banner-links-wrap {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 40px;
}
.banner-features__text {
    font-weight: 600;
    line-height: 24px;
}
.banner-features__text_strong {
    margin-right: 16px;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
}
.banner-img{
    position: absolute;
    width: 55%;
    top: 0;
    right: 0;
    height: 100%; 
}

.banner-img::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: url(img/mustang.png) no-repeat center center;
    background-size: cover; /* чтобы изображение занимало всю высоту и ширину */
}
/* rent */
#rent-section {
    padding: 120px 0;
}
.rent-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.rent {
    position: relative;
    height: 524px;
    background: url(img/supercar.png) 50%/cover no-repeat;
    font-weight: 600;
}
.rent:nth-child(2) {
    background-image: url(img/sportcar.png);
}
.rent:nth-child(3) {
    background-image: url(img/suv.png);
}
.rent:nth-child(4) {
    background-image: url(img/supersuv.png);
}
.rent-name {
position: absolute;
    top: 48px;
    left: 48px;
}
/* services */
#service-section {
    padding-bottom: 120px;
}
.services-section__title {
    margin-bottom: 60px;
    text-align: left;
}
.services-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;    
}
.services-img {
    margin-bottom: 24px;
}
.services-title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
}
.services__text {
    color: rgb(255, 255, 255 / 80%);
}   
/* detination */
#destination-section {
    padding-bottom: 162px ;
}
.destination-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px; 
}
.destination {
     border: 1px solid #171717;
     background-color: #171717;
}
.destination-info {
    padding: 24px;
}
.destination__title {
    font-size: 24px;
    line-height: 32px;
}
.destination__text {
    margin: 10px 0 25px;
    color: rgb(255, 255, 255 / 80%);
}
.destination__price {
    position: relative;
    display: block;
    font-weight: 600;
    margin-bottom: 17px;
    padding-left: 40px;
}
.destination__price::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    background: url(img/car-logo.png) no-repeat center center;
    background-size: contain; /* Убедитесь, что логотип не искажается */
    transform: translateY(-50%);
}
.destination__link {
    color: #EE8313;
}
.destination__link:hover {
    color: #ee5b06;
}